.page__row--map {
	height: 631px;
	position: relative;
	z-index: 1;
	padding-top: 66px;
}

.ymap {
	position: absolute;
	left: 0;
	top: 0;
	border: none;
	height: 100%;
	width: 100%;
}

[class*="copyrights-pane"] {
	display: none !important;
}

[class*="ground-pane"] {
	filter: grayscale(1);
}

[class*="balloon__close-button"] {
	opacity: 1;
}

.ymaps-2-1-79-balloon__layout {
	transform: translate(-80px, -25px);
}

.ymaps-2-1-79-balloon__close+.ymaps-2-1-79-balloon__content {
	margin-right: 0!important;
	padding: 0!important;
	font-family: inherit!important;
}

.ymaps-2-1-79-balloon__content, .ymaps-2-1-79-balloon__layout, .ymaps-2-1-79-balloon {
	background: none!important;
	box-shadow: none!important;
}

.ymaps-2-1-79-balloon__tail {
	display: none!important;
}

.ymaps-2-1-79-balloon__content > *, .ymaps-2-1-79-balloon__layout {
	overflow: visible!important;
}

.ymaps-2-1-79-balloon__close {
	float: none!important;
	position: absolute!important;
	right: 10px;
	top: 10px;
	z-index: 10;
}

.balloon {
	text-align: center;
	position: relative;
	z-index: 1;
	width: 269px;
	height: 184px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.balloon__bg {
	background: transparent url(../img/pin-bg.svg);
	height: 320px;
	width: 405px;
	display: block;
	position: absolute;
	left: -68px;
    top: -39px;
	z-index: -1;
	pointer-events: none;
	background-size: cover;
}

.balloon__address {
	font-size: 20px;
	line-height: 1.4;
}

.balloon__contacts {
	padding-bottom: 11px;
}

.balloon__text {
	font-size: 14px;
	line-height: 1.3;
	color: var(--color-storm-gray);
	margin-bottom: 8px;
}

.balloon__tel {
	font-size: 20px;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.5;
}