<div class="page__row page__row--about bg-color-pink" style="background-image: url(img/about-bg.jpg);">
    <div class="page__cell container">
        <section class="section section--about">
            <div class="section__wrapper">
                <header class="section__header">
                    <h2 class="section__title title title--h2">О нашем <i>магазине</i></h2>
                    <p class="section__subtitle">Являемся целенаправленной торговой компанией ориентированной на срезанных цветах.</p>
                </header>
                <div class="section__body">
                    <p class="section__text light">Работаем в двух направлениях: розничные и оптовые продажи. благодаря чему мы можем предложить конкурентные цены в обеих направлениях.</p>
                    <p class="section__text light">Компания “Фловеред” была основана в 2011 году Насретдиновым Русланом Камилевичем. В настоящий момент в компании функционирует сеть розничных магазинов и 1 оптовый склад. Мы осуществляем доставки по городу Уфа и отдалённым районам Башкортостана. На нашем счету уже более 9 лет работы.</p>
                </div>
                <img class="section__picture about-picture d-none d-lg-block" src="img/girl.png" alt="girl">
            </div>
            <img class="section__flower section__flower--1 point-events-none parallax-layer" src="img/flower-2.png" alt="decor" data-parallax-deep="100">
        </section>
    </div>
  </div>