<div class="page__row page__row--advantages z-index">
    <div class="page__cell container">
        <section class="section section--advantages">
            <header class="section__header">
                <img class="section__decoration decor" src="img/decor.svg" alt="decoration">
                <h2 class="section__title title title--h2 text-center">Преимущества <i>«Мерси Боку»</i></h2>
            </header>
            <div class="section__body">
                <div class="advantages">
                    <ul class="advantages__items list-reset row justify-content-between">
                        <li class="advantages__item col-12 col-md-4">
                            <div class="advantages__block">
                                <span class="advantages__icon">
                                    <img class="advantages__picture" src="img/advantages-icon-1.svg" alt="advantages icon">
                                </span>
                                <h5 class="advantages__title medium">Доставляем только</h5>
                                <p class="advantages__desc">Свежесрезанные цветы для любого праздника и повода.</p>
                            </div>
                        </li>
                        <li class="advantages__item col-12 col-md-4">
                            <div class="advantages__block">
                                <span class="advantages__icon">
                                    <img class="advantages__picture" src="img/advantages-icon-1.svg" alt="advantages icon">
                                </span>
                                <h5 class="advantages__title medium">Доставляем только</h5>
                                <p class="advantages__desc">Круглосуточная доставка за 1-2 часа праздника и повода</p>
                            </div>
                        </li>
                        <li class="advantages__item col-12 col-md-4">
                            <div class="advantages__block">
                                <span class="advantages__icon">
                                    <img class="advantages__picture" src="img/advantages-icon-1.svg" alt="advantages icon">
                                </span>
                                <h5 class="advantages__title medium">Доставляем только</h5>
                                <p class="advantages__desc">Свежесрезанные цветы для любого праздника и повода.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
  </div>