<div class="page__row page__row--bouquet" style="background-image: url(../img/bg-2.jpg);">
    <div class="page__cell container">
      <div class="bouquet-wrapper">
          <ul class="bricks" id="bricks">
              <li class="brick">
                  <div class="bouquet">
                      <div class="bouquet__inner">
                        <a class="bouquet__image object-fit-wrapper" href="#">
                            <img class="bouquet__picture object-fit-cover" src="img/image-1.jpg" alt="bouquet">
                        </a>
                        <div class="bouquet__body">
                          <h5 class="bouquet__title medium">
                            <a class="color-inherit" href="#">Букетик</a>
                          </h5>
                          <p class="bouquet__desc">Хризантема, фисташка упаковка матовая корейская</p>
                          <p class="bouquet__price noto-serif-display bold">1250 руб</p>
                          <div class="bouquet__hidden">
                            <div class="bouquet__button">
                              <a class="btn btn--default btn--md btn--fluid bold  d-inline-flex justify-content-center align-items-center user-select-none" href="#">
                                <span class="btn__text">Заказать</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </li>
              <li class="brick">
                  <div class="bouquet">
                      <div class="bouquet__inner">
                        <a class="bouquet__image object-fit-wrapper" href="#">
                            <img class="bouquet__picture object-fit-cover" src="img/image-1.jpg" alt="bouquet">
                        </a>
                        <div class="bouquet__body">
                          <h5 class="bouquet__title medium">
                            <a class="color-inherit" href="#">Букетик</a>
                          </h5>
                          <p class="bouquet__desc">Хризантема, фисташка упаковка матовая корейская</p>
                          <p class="bouquet__price noto-serif-display bold">1250 руб</p>
                          <div class="bouquet__hidden">
                            <div class="bouquet__button">
                              <a class="btn btn--default btn--md btn--fluid bold  d-inline-flex justify-content-center align-items-center user-select-none" href="#">
                                <span class="btn__text">Заказать</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </li>
              <li class="brick">
                  <div class="bouquet">
                      <div class="bouquet__inner">
                        <a class="bouquet__image object-fit-wrapper" href="#">
                            <img class="bouquet__picture object-fit-cover" src="img/image-1.jpg" alt="bouquet">
                        </a>
                        <div class="bouquet__body">
                          <h5 class="bouquet__title medium">
                            <a class="color-inherit" href="#">Букетик</a>
                          </h5>
                          <p class="bouquet__desc">Хризантема, фисташка упаковка матовая корейская</p>
                          <p class="bouquet__price noto-serif-display bold">1250 руб</p>
                          <div class="bouquet__hidden">
                            <div class="bouquet__button">
                              <a class="btn btn--default btn--md btn--fluid bold  d-inline-flex justify-content-center align-items-center user-select-none" href="#">
                                <span class="btn__text">Заказать</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </li>
              <li class="brick">
                  <div class="bouquet">
                      <div class="bouquet__inner">
                        <a class="bouquet__image object-fit-wrapper" href="#">
                            <img class="bouquet__picture object-fit-cover" src="img/image-1.jpg" alt="bouquet">
                        </a>
                        <div class="bouquet__body">
                          <h5 class="bouquet__title medium">
                            <a class="color-inherit" href="#">Букетик</a>
                          </h5>
                          <p class="bouquet__desc">Хризантема, фисташка упаковка матовая корейская</p>
                          <p class="bouquet__price noto-serif-display bold">1250 руб</p>
                          <div class="bouquet__hidden">
                            <div class="bouquet__button">
                              <a class="btn btn--default btn--md btn--fluid bold  d-inline-flex justify-content-center align-items-center user-select-none" href="#">
                                <span class="btn__text">Заказать</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </li>
              <li class="brick">
                  <div class="bouquet">
                      <div class="bouquet__inner">
                        <a class="bouquet__image object-fit-wrapper" href="#">
                            <img class="bouquet__picture object-fit-cover" src="img/image-1.jpg" alt="bouquet">
                        </a>
                        <div class="bouquet__body">
                          <h5 class="bouquet__title medium">
                            <a class="color-inherit" href="#">Букетик</a>
                          </h5>
                          <p class="bouquet__desc">Хризантема, фисташка упаковка матовая корейская</p>
                          <p class="bouquet__price noto-serif-display bold">1250 руб</p>
                          <div class="bouquet__hidden">
                            <div class="bouquet__button">
                              <a class="btn btn--default btn--md btn--fluid bold  d-inline-flex justify-content-center align-items-center user-select-none" href="#">
                                <span class="btn__text">Заказать</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </li>
              <li class="brick">
                  <div class="bouquet">
                      <div class="bouquet__inner">
                        <a class="bouquet__image object-fit-wrapper" href="#">
                            <img class="bouquet__picture object-fit-cover" src="img/image-1.jpg" alt="bouquet">
                        </a>
                        <div class="bouquet__body">
                          <h5 class="bouquet__title medium">
                            <a class="color-inherit" href="#">Букетик</a>
                          </h5>
                          <p class="bouquet__desc">Хризантема, фисташка упаковка матовая корейская</p>
                          <p class="bouquet__price noto-serif-display bold">1250 руб</p>
                          <div class="bouquet__hidden">
                            <div class="bouquet__button">
                              <a class="btn btn--default btn--md btn--fluid bold  d-inline-flex justify-content-center align-items-center user-select-none" href="#">
                                <span class="btn__text">Заказать</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </li>
              <li class="brick">
                  <div class="bouquet">
                      <div class="bouquet__inner">
                        <a class="bouquet__image object-fit-wrapper" href="#">
                            <img class="bouquet__picture object-fit-cover" src="img/image-1.jpg" alt="bouquet">
                        </a>
                        <div class="bouquet__body">
                          <h5 class="bouquet__title medium">
                            <a class="color-inherit" href="#">Букетик</a>
                          </h5>
                          <p class="bouquet__desc">Хризантема, фисташка упаковка матовая корейская</p>
                          <p class="bouquet__price noto-serif-display bold">1250 руб</p>
                          <div class="bouquet__hidden">
                            <div class="bouquet__button">
                              <a class="btn btn--default btn--md btn--fluid bold  d-inline-flex justify-content-center align-items-center user-select-none" href="#">
                                <span class="btn__text">Заказать</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </li>
              <li class="brick">
                  <div class="bouquet">
                      <div class="bouquet__inner">
                        <a class="bouquet__image object-fit-wrapper" href="#">
                            <img class="bouquet__picture object-fit-cover" src="img/image-1.jpg" alt="bouquet">
                        </a>
                        <div class="bouquet__body">
                          <h5 class="bouquet__title medium">
                            <a class="color-inherit" href="#">Букетик</a>
                          </h5>
                          <p class="bouquet__desc">Хризантема, фисташка упаковка матовая корейская</p>
                          <p class="bouquet__price noto-serif-display bold">1250 руб</p>
                          <div class="bouquet__hidden">
                            <div class="bouquet__button">
                              <a class="btn btn--default btn--md btn--fluid bold  d-inline-flex justify-content-center align-items-center user-select-none" href="#">
                                <span class="btn__text">Заказать</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </li>
              <li class="brick">
                  <div class="bouquet">
                      <div class="bouquet__inner">
                        <a class="bouquet__image object-fit-wrapper" href="#">
                            <img class="bouquet__picture object-fit-cover" src="img/image-1.jpg" alt="bouquet">
                        </a>
                        <div class="bouquet__body">
                          <h5 class="bouquet__title medium">
                            <a class="color-inherit" href="#">Букетик</a>
                          </h5>
                          <p class="bouquet__desc">Хризантема, фисташка упаковка матовая корейская</p>
                          <p class="bouquet__price noto-serif-display bold">1250 руб</p>
                          <div class="bouquet__hidden">
                            <div class="bouquet__button">
                              <a class="btn btn--default btn--md btn--fluid bold  d-inline-flex justify-content-center align-items-center user-select-none" href="#">
                                <span class="btn__text">Заказать</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </li>
              <li class="brick">
                  <div class="bouquet">
                      <div class="bouquet__inner">
                        <a class="bouquet__image object-fit-wrapper" href="#">
                            <img class="bouquet__picture object-fit-cover" src="img/image-1.jpg" alt="bouquet">
                        </a>
                        <div class="bouquet__body">
                          <h5 class="bouquet__title medium">
                            <a class="color-inherit" href="#">Букетик</a>
                          </h5>
                          <p class="bouquet__desc">Хризантема, фисташка упаковка матовая корейская</p>
                          <p class="bouquet__price noto-serif-display bold">1250 руб</p>
                          <div class="bouquet__hidden">
                            <div class="bouquet__button">
                              <a class="btn btn--default btn--md btn--fluid bold  d-inline-flex justify-content-center align-items-center user-select-none" href="#">
                                <span class="btn__text">Заказать</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </li>
              <li class="brick">
                  <div class="bouquet">
                      <div class="bouquet__inner">
                        <a class="bouquet__image object-fit-wrapper" href="#">
                            <img class="bouquet__picture object-fit-cover" src="img/image-1.jpg" alt="bouquet">
                        </a>
                        <div class="bouquet__body">
                          <h5 class="bouquet__title medium">
                            <a class="color-inherit" href="#">Букетик</a>
                          </h5>
                          <p class="bouquet__desc">Хризантема, фисташка упаковка матовая корейская</p>
                          <p class="bouquet__price noto-serif-display bold">1250 руб</p>
                          <div class="bouquet__hidden">
                            <div class="bouquet__button">
                              <a class="btn btn--default btn--md btn--fluid bold  d-inline-flex justify-content-center align-items-center user-select-none" href="#">
                                <span class="btn__text">Заказать</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </li>
              <li class="brick">
                  <div class="bouquet">
                      <div class="bouquet__inner">
                        <a class="bouquet__image object-fit-wrapper" href="#">
                            <img class="bouquet__picture object-fit-cover" src="img/image-1.jpg" alt="bouquet">
                        </a>
                        <div class="bouquet__body">
                          <h5 class="bouquet__title medium">
                            <a class="color-inherit" href="#">Букетик</a>
                          </h5>
                          <p class="bouquet__desc">Хризантема, фисташка упаковка матовая корейская</p>
                          <p class="bouquet__price noto-serif-display bold">1250 руб</p>
                          <div class="bouquet__hidden">
                            <div class="bouquet__button">
                              <a class="btn btn--default btn--md btn--fluid bold  d-inline-flex justify-content-center align-items-center user-select-none" href="#">
                                <span class="btn__text">Заказать</span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </li>
          </ul>
          <div class="bouquet-content text-center">
            <div class="show-all">
              <button class="btn btn--primary btn--xl d-inline-flex justify-content-center align-items-center user-select-none show-all-btn" type="button">
                <span class="btn__text">Показать все</span>
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>