<div class="page__row page__row--contacts">
    <div class="page__cell container">
        <section class="section section--contacts">
            <div class="contacts">
                <img class="contacts__decoration decor" src="img/decor.svg" alt="contacts-decor">
                <h3 class="contacts__questions">Остались вопросы? Звоните:</h3>
                <a class="contacts__tel noto-serif-display" href="tel:88007750775">8 800 775-07-75</a>
                <p class="contacts__text">Отвечаем на звонки ежедневно, круглосуточно</p>
                <img  class="contacts__picture" src="img/contacts-bg.png" alt="contacts bg" style="display: none;">
            </div>
        </section>
    </div>
  </div>