<div class="page__row">
    <div class="page__cell container">
        <section class="section section--delivery">
            <img class="section__flower section__flower--2 point-events-none parallax-layer" src="img/flower-3.png" alt="flower" data-parallax-deep="100">
            <div class="delivery">
                <div class="delivery__row row">
                    <div class="delivery__cell col-auto col-lg-6">
                        <h2 class="delivery__title title title--h2">
                            <span class="title-bg"><em>Доставка</em></span>
                        </h2>
                    </div>
                    <div class="delivery__cell col-auto col-lg-6">
                        <h2 class="delivery__title title title--h2">
                            <span class="title-bg">и оплата</span>
                        </h2>
                    </div>
                </div>
                <div class="delivery__row row">
                    <div class="delivery__cell col-12 col-lg-6">
                        <ul class="list list-reset">
                            <li class="list__item">
                                <p class="list__title medium">Обычный день</p>
                                <p class="list__text light">По городу 290 руб. , ночное время с 22:00 до 9:00 - 540 руб.</p>
                            </li>
                            <li class="list__item">
                                <p class="list__title medium">Праздники</p>
                                <p class="list__text light">Заказы цветов на 14 февраля и 8 марта принятые в день доставки, отправляется с курьерами по мере их освобождения! Предварительные заказы принимаются на первую половину дня и на вторую половину дня<br>В праздничные дни (7,8 марта, 13,14 февраля) доставка +100руб. к базовой стоимости доставки.</p>
                            </li>
                            <li class="list__item">
                                <p class="list__title medium">Новый год</p>
                                <p class="list__text light">Доставка в новогоднюю ночь к точному времени 3000 руб. <br>Доставка ночью с 01/01/2020 с часу ночи до 3-х ночи 2000 руб. <br>01/01/2020 доставка работает с 12:00, в ночное время по тарифу такси до 07/01/2020 включительно.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="delivery__cell col-12 col-lg-6">
                        <ul class="list list-reset">
                            <li class="list__item">
                                <p class="list__title medium">Оплата наличными</p>
                                <p class="list__text light">Вы дожидаетесь приезда курьера и передаёте ему сумму за товар в рублях. Курьер предоставляет товар, который можно осмотреть на предмет повреждений, соответствие указанным условиям. Покупатель подписывает товаросопроводительные документы, вносит денежные средства и получает чек.</p>
                            </li>
                            <li class="list__item">
                                <p class="list__title medium">Безналичный расчёт</p>
                                <p class="list__text light">Вы можете выбрать вариант безналичной оплаты. Мы принимаем карты Visa и Master Card. Чтобы оплатить покупку, вас перенаправит на сервер системы ASSIST, где вы должны ввести номер карты, срок действия, имя держателя.</p>
                            </li>
                            <li class="list__item">
                                <p class="list__title medium">Электронные системы</p>
                                <p class="list__text light">PayPal и Qiwi</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
  </div>