<div class="page__row page__row--header">
  <div class="page__cell container">
    <header class="header">
      <div class="header__row row d-flex align-items-center">
        <div class="header__cell header__cell--logo col-auto flex-grow-1 flex-lg-grow-0">
          <a class="logo" href="#">
            <img class="logo__picture" src="img/logo.svg" alt="logo">
          </a>
        </div>
        <div class="header__cell header__cell--hamburger col-auto d-lg-none">
          <button class="burger btn-reset">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
        <div class="header__cell header__cell--nav col-12 col-lg-auto flex-grow-1">
          <div class="header__row row align-items-center d-block d-lg-flex">
            <div class="header__cell col-auto flex-grow-1">
              <nav class="header__nav">
                <ul class="header__nav-menu list-reset d-lg-flex medium">
                  <li class="header__nav-item">
                    <a class="header__nav-link" href="#">Преимущества</a>
                  </li>
                  <li class="header__nav-item">
                    <a class="header__nav-link" href="#">О нас</a>
                  </li>
                  <li class="header__nav-item">
                    <a class="header__nav-link" href="#">Доставка и оплата</a>
                  </li>
                  <li class="header__nav-item">
                    <a class="header__nav-link" href="#">Магазины</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="header__cell col-auto">
              <div class="header__contacts">
                <p class="header__contacts-text">
                  <a class="header__contacts-tel bold" href="+88007750775">8 800 775-07-75</a>
                </p>
                <p class="header__contacts-text">
                  <a class="header__contacts-callback bold" href="#">Заказать звонок</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>