<div class="page__row page__row--intro">
    <div class="page__cell container">
      <div class="intro parallax">
        <img  class="intro__flower point-events-none parallax-layer" src="img/flower-1.png" alt="flower" data-parallax-deep="100">
        <div class="intro__content">
            <h1 class="intro__title title title--h1"><em><strong>Быстрая</strong></em> доставка цветов в Туймазы</h1>
            <p class="intro__desc">Свежесрезанные цветы для любого праздника и повода. Круглосуточная доставка за 1-2 часа</p>
            <a class="intro__link medium d-inline-flex align-items-center" href="#">cмотреть каталог</a>
            <img class="intro__picture rotation d-none d-lg-block" src="img/delivery.png" alt="Круглосуточно">
            <img class="intro__bouquet point-events-none parallax-bouquet d-none d-xl-block" src="img/bouquet.png" alt="bouquet">
        </div>
      </div>
    </div>
  </div>