// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-haiti: #10103A;
  --color-burnt-umber: #8A2448;
  --color-violet-red: #F83274;
  --color-violet-red-2: #F74781;
  --color-carissma: #EA80A5;
  --color-pink: #FFB9C3;
  --color-pink-salmon: #FF88AF;
  --color-soft-peach: #F7F1F3;
  --color-storm-gray: #6E6E85;
  --color-comet: #59596E;
  --color-wattle: #C5DA41;
  --color-verdun-green: #556200;
  --color-logan: #9C9CC4;
  --color-manatee: #8D8D9A;
}
